/* root css for standard colors and font */
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
