@font-face {
  font-family: "Kumbh Sans";
  src: url("./assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf");
}
/* root css for standard colors and font */
:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(100, 100, 100);
  --black: hsl(0, 0, 0);
}
body {
  font-family: "Kumbh Sans", "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 18px;
  height: 2rem;
}
.nav-left {
  display: flex;
  justify-content: space-between;
}
.nav-left img {
  height: 70%;
}
.nav-right {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
}
#avatar-icon {
  height: 2rem;
  margin-left: 24px;
}
.nav-menu {
  position: absolute;
  left: 0;
  height: 100vh;
  background: white;
  z-index: 999;
  display: none;
}
.menu-visible {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: white;
  z-index: 999;
  display: block;
  padding: 1rem 3rem 0 1rem;
}
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
li {
  padding: 1rem;
  font-weight: bolder;
}
.hidden {
  visibility: hidden;
}
.blur {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0, 0%, 20%, 0.397);
  padding: 0;
  margin: 0;
  z-index: 998;
  visibility: block;
}
.cart-quicklook {
  position: absolute;
  border-radius: 100%;
  background-color: red;
  color: white;
  height: 15px;
  width: 15px;
  top: 3%;
  right: 15%;
  display: flex;
  justify-content: center;
  font-size: x-small;
}

/* main body */

.carousel {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}
.carousel-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.carousel-image {
  display: block;
  height: auto;
  width: 100%;
  max-width: none;
  margin: 0 auto;
}

.carousel-button-left,
.carousel-button-right {
  position: absolute;
  top: 50%;
  height: 200px;
  width: 50px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.carousel-button-left {
  left: 0px;
  z-index: 999;
}

.carousel-button-right {
  right: 0px;
}

/* Cart Pop-up */
.cart-container {
  position: absolute;
  top: 90px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  background-color: white;
  width: 90%;
  z-index: 99999;
  padding: 1rem;
}
.description-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.description-container img {
  height: 50px;
  border-radius: 3px;
}
.item-container {
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: gray 3px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
}
.item-container img:nth-child(1) {
  height: 90px;
  border-radius: 10px;
}
.description-container img {
  height: 20px;
  border: black solid 1px;
}
.checkout-button {
  padding: 1rem;
  background-color: var(--orange);
  color: white;
  border-radius: 10px;
  font-size: large;
  margin: 0 30px;
}

/* description */
.product-description {
  padding: 1rem;
}
.product-description p:nth-child(1) {
  color: var(--orange);
}
.product-description p:nth-child(3) {
  color: var(--grayish-blue);
  font-size: large;
}

/* price and discounts */
.product-price {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.discount {
  background-color: hsla(33, 80%, 54%, 0.154);
  color: var(--orange);
  font-weight: bold;
  border-radius: 5px;
  max-width: 30%;
  display: flex;
  justify-content: center;
  padding: 4px;
}
.market-price {
  display: flex;
  justify-content: end;
  text-decoration: line-through;
  color: var(--grayish-blue);
  padding-right: 18px;
  font-weight: 500;
}
/* quantity and add to cart */
.product-cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.quantity {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.product-cart button {
  border: none;
  background-color: transparent;
}
.cart-button {
  display: flex;
  justify-content: center;
  padding: 12px;
}
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange);
  font-size: large;
  color: white;
  width: 90%;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.188);
}
.add-to-cart p {
  margin-left: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
